/* Reset default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  #nav-fix {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  header h1 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  #home_img{
    border-radius: 8px;
    height: 25%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.953);
}
#about_img{
  border-radius: 10px;
  box-shadow: 0 4px 6px  #333;
  float: left;
  margin-top: 2%;
  margin-left: 10%;
  height: 400px;
  width: 300px;
  margin-right: 5%;
}
  
  /* Section styles */
  section {
    padding: 50px;
  }
  
  section h2 {
    text-shadow: 0 2px 3px rgb(6, 152, 249);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  section p {
    
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .abt-1{
    padding-top: 5%;
    box-shadow: 0 5px 6px 0 black;
    padding-bottom: 10%;
  }
  
  
  /* Projects section styles */

  section#projects ul {
    list-style-type: none;
  }
  
  section#projects li {
    margin-bottom: 20px;
  }
  
  section#projects h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .skills h1{
    text-align: center;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 2px 3px rgb(6, 152, 249);
    color: #000000;
    
}
.skills ul li{
    margin: 30px;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    margin-left: 15em;
    margin-right: 15em;
    padding: 20px 40px;
    background-color: #4c5cf0;
    border-radius: 10px;
    border: 5px solid black;

}
.grad-1{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  padding-top: 3%;
  padding-bottom: 3%;
}
  /* Contact section styles */
  section#contact form input,
  section#contact form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }
  
  section#contact form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  